.nazwa {
    background-image: url('a1.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: relative; left: 750px;
    
}

.nazwa:hover {

    background-image: url('a2.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
